<div class="row">
    <div class="col-md-12" ng-show="projectSubCategoryOfSupportBudgets.length > 0">

        <nav class= "navbar navbar-default" role= "navigation" >
            <div class= "navbar-header" >
                <a class="btn btn-lg btn-success" href="#/edit-projectSubCategoryOfSupportBudget/0"><i class="glyphicon glyphicon-plus"></i>&nbsp;Add new Project SubCategory of Support Budget</a>
            </div>
        </nav>
        <table class="table table-striped table-bordered">
            <thead>
                <th>Type Of Support Budget&nbsp;</th>
                <th>SubCategory Of Support &nbsp;</th>
                <th>SubCategory Of Support Budget Amount&nbsp;</th>
                <th>Action&nbsp;</th>
            </thead>
            <tbody>
                <tr ng-repeat="data in projectSubCategoryOfSupportBudgets">
                    <td>{{data.type_of_support_budget_amount}}</td>
                    <td>{{data.sub_category_of_support_name}}</td>
                    <td>{{data.sub_category_of_support_budget_amount}}</td>
                    <td style="width: 100px"><a href="#/edit-projectSubCategoryOfSupportBudget/{{data.project_sub_category_of_support_budget_id}}" class="btn">&nbsp;<i class="glyphicon glyphicon-edit"></i>&nbsp; Edit project SubCategory of Support Budget</a></td>
                    <!--                <td>
                                        <div class="btn-group">
                                            <a href="#/edit-customer/{{data.customerNumber}}" class="btn">&nbsp;<i class="glyphicon glyphicon-edit"></i>&nbsp;</a>
                                            <button class="btn" type="button" ng-click="deleteCustomer(customer)" >&nbsp;<i class="glyphicon glyphicon-trash"></i>&nbsp;</button>
                                        </div>
                                    </td>-->
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-12" ng-show="projectSubCategoryOfSupportBudgets.length == 0">
        <div class="col-md-12">
            <h4>No Cost Categories found</h4>
        </div>
    </div>
</div>