<div class="row">
    <div class="col-md-12" ng-show="financialYears.length > 0">

        <nav class= "navbar navbar-default" role= "navigation" >
            <div class= "navbar-header" >
                <a class="btn btn-lg btn-success" href="#/edit-financialYear/0"><i class="glyphicon glyphicon-plus"></i>&nbsp;Add new Financial Year</a>
            </div>
        </nav>
        <table class="table table-striped table-bordered">
            <thead>
                <th>Financial Year Name&nbsp;</th>
                <th>Action&nbsp;</th>
            </thead>
            <tbody>
                <tr ng-repeat="data in financialYears">
                    <td>{{data.financial_year_name}}</td>
                    <td style="width: 100px"><a href="#/edit-financialYear/{{data.financial_year_id}}" class="btn">&nbsp;<i class="glyphicon glyphicon-edit"></i>&nbsp; Edit Financial Year</a></td>
                    <!--                <td>
                                        <div class="btn-group">
                                            <a href="#/edit-customer/{{data.customerNumber}}" class="btn">&nbsp;<i class="glyphicon glyphicon-edit"></i>&nbsp;</a>
                                            <button class="btn" type="button" ng-click="deleteCustomer(customer)" >&nbsp;<i class="glyphicon glyphicon-trash"></i>&nbsp;</button>
                                        </div>
                                    </td>-->
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-12" ng-show="financialYears.length == 0">
        <div class="col-md-12">
            <h4>No Financial Years found</h4>
        </div>
    </div>
</div>