<style type="text/css">
    .form-horizontal input.ng-invalid.ng-dirty {
        border-color: #FA787E;
    }

    .form-horizontal input.ng-valid.ng-dirty {
        border-color: #78FA89;
    }
</style>
<!--<div class="view">-->
<!--<div class="container">-->


<nav class= "navbar navbar-default" role= "navigation" >
    <div class= "navbar-header" >
        <a class= "navbar-brand" href= "#/budgets"><i class="glyphicon glyphicon-th-large"></i> Budget List </a>
        <a ng-show="budget._id" class= "navbar-brand" href= "#/edit-budget/0"><i class="glyphicon glyphicon-plus"></i> Create Budget </a>
        <!--<a ng-show="customer._id" class= "navbar-brand pull-right"><i class="glyphicon glyphicon-edit"></i> Customer No: {{customer._id}}</a>-->
    </div>
</nav>
<header>
    <h3 class="btn-primary">{{title}}</h3>
</header>
<!--<div class="row">-->

<!--<div>-->
<div class="col-md-12">
    <form role="form" name="myForm" class="form-horizontal">
        <div class="row">

            <div class="form-group">
                <label class="col-sm-2 " >Project<span class="required">*</span></label>
                <div class="col-sm-4">
                    <select  class="form-control dropdown" id="requiredAction" ng-model="budget.project_id" 
                             ng-required="true" ng-options="project.project_name for project in projects track by project._id"
                             >
                        <option value="">Please Select</option>
                    </select>
                </div>
            </div>
            
           <div class="form-group">
                <label class="col-sm-2 " >Financing Currency<span class="required">*</span></label>
                <div class="col-sm-4">
                    <select  class="form-control dropdown" id="requiredAction" ng-model="budget.financing_currency_id" 
                             ng-required="true" ng-options="currency.currency_name for currency in currencies track by currency._id"
                             >
                        <option value="">Please Select</option>
                    </select>
                </div>
            </div>
            
            <div class="form-group">
                <label class="col-sm-2 " >Spending Currency<span class="required">*</span></label>
                <div class="col-sm-4">
                    <select  class="form-control dropdown" id="requiredAction" ng-model="budget.spending_currency_id" 
                             ng-required="true" ng-options="currency.currency_name for currency in currencies track by currency._id"
                             >
                        <option value="">Please Select</option>
                    </select>
                </div>
            </div>
            
            <div class= "form-group">
                <label class= "col-md-2">Total Budget</label>
                <div class= "col-md-4">
                    <input ng-model="budget.total_budget" type= "text" class= "form-control" placeholder= "Enter total budget amount"/>
                </div>
            </div>
            
            <div class="form-group">
                <label class="col-sm-2 " >Financial Year<span class="required">*</span></label>
                <div class="col-sm-4">
                    <select  class="form-control dropdown" id="requiredAction" ng-model="budget.spending_currency_id" 
                             ng-required="true" ng-options="financialYear.financial_year_name for financialYear in financialYears track by financialYear._id"
                             >
                        <option value="">Please Select</option>
                    </select>
                </div>
            </div>

            <div class= "form-group">
                <label class= "col-md-2"></label>
                <div class="col-md-4">
                    <a href="#/budgets" class="btn">Cancel</a>
                    <button ng-click="saveBudget(budget);" 
                            ng-disabled="isClean() || myForm.$invalid"
                            class="btn btn-primary">{{buttonText}}</button>
                    <button ng-click="deleteBudget(budget)"
                            ng-show="budget._id" class="btn btn-warning">Delete</button>
                </div>
            </div>
        </div>
    </form>
</div>
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
